@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
}
.forget-main {
  background-image: url("../../assets/bg-img.jpg");
  background-size: cover;
  background-position: center;
}
.forget-f1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forget-form1 {
  margin: 40px;
  padding: 10px;
  width: 350px;
  height: 310px;
  max-width: 100%;
  /* border: 3px solid rgb(255, 255, 255); */
  border-radius: 15px;
  box-shadow: 0px 0px 50px rgb(132, 0, 255);
  /* background-color: #ffffff; */
  animation: glow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transition: border 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
}
@keyframes glow {
  0% {
    border: 3px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 40px rgb(255, 0, 0);
  }
  10% {
    border: 3px solid rgb(255, 102, 0);
    box-shadow: 0px 0px 40px rgb(255, 102, 0);
  }
  20% {
    border: 3px solid rgb(255, 255, 0);
    box-shadow: 0px 0px 40px rgb(255, 255, 0);
  }
  30% {
    border: 3px solid rgb(102, 255, 0);
    box-shadow: 0px 0px 40px rgb(102, 255, 0);
  }
  40% {
    border: 3px solid rgb(0, 255, 0);
    box-shadow: 0px 0px 40px rgb(0, 255, 0);
  }
  50% {
    border: 3px solid rgb(0, 255, 153);
    box-shadow: 0px 0px 40px rgb(0, 255, 153);
  }
  60% {
    border: 3px solid rgb(0, 255, 255);
    box-shadow: 0px 0px 40px rgb(0, 255, 255);
  }
  70% {
    border: 3px solid rgb(0, 102, 255);
    box-shadow: 0px 0px 40px rgb(0, 102, 255);
  }
  80% {
    border: 3px solid rgb(128, 0, 255);
    box-shadow: 0px 0px 40px rgb(128, 0, 255);
  }
  90% {
    border: 3px solid rgb(255, 0, 255);
    box-shadow: 0px 0px 40px rgb(255, 0, 255);
  }
  100% {
    border: 3px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 40px rgb(255, 0, 0);
  }
}
#forget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  color: rgb(255, 254, 254);
  margin-top: 25px;
}
.forget-head {
  margin-bottom: 5px;
}
.forget-text {
  margin: 10px;
  text-align: justify;
  /* font-size: 15px; */
}
.forget-input {
  width: 92%;
  height: 33px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  margin: 10px;
  /* border: none; */
  /* outline: none; */
  background-color: transparent;
}
.forget-input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}
input {
  padding-left: 13px;
  color: #ffffff;
  align-items: center;
}
input::placeholder {
  color: rgb(255, 255, 255);
}
.forget-input:focus {
  /* border: none; */
  outline: 1px solid white;
  box-shadow: 0 0 15px rgb(202, 202, 202);
}
.forget-icon1 {
  position: relative;
}
.forget-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 23px;
  margin-right: 27px;
  margin-top: 15px;
}
.forget-btn {
  width: 95%;
  height: 33px;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 10px;
  /* background-color: #ffffff; */
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.forget-btn:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}
.forget-c1 {
  padding-left: 12px;
}

